.ngProgressLite {
	pointer-events: none;
}

.ngProgressLiteBar {
	background: #FFF;
	position: fixed;
	z-index: 100;
	top: 0;
	/*bottom: 0;*/
	left: 0;
	height: 2px;
}

.ngProgressLite .ngProgressLiteBarShadow {
	display: block;
	position: absolute;
	right: 0px;
	width: 10px;
	height: 100%;
	box-shadow: 0 0 10px #FFF, 0 0 5px #FFF;
	opacity: 1;
}
