@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic|Bitter:400);


/*Global Modification*/
.egc-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
	font-size : 16px;
}

a, h1, h2, h3, h4, h5 {
	font-family : 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', "Helvetica Neue", 'Helvetica', 'Arial',
	 sans-serif;
	color : rgb(0, 0, 0);
}

p {
	 font-family : 'Bitter', 'Perpetua', 
	 serif;
}

a,
a:hover {
	font-size: 100%;
	text-decoration: none;
	color: rgb(0, 0, 0);
}

/*Navigation*/

.nav a {
	font-weight: lighter;
	font-size: 140%;
}

.nav > li > a {
	color: white;
	padding: 10px 10px;
}

.nav > li > a:hover {
	color: rgb(0, 0, 0);
	background: none;  
}

header {
	background-color: rgba(90, 166, 12, 1);
}

.header-wrapper {
	padding: 45px 5px 5px 10px;
	max-height: 120px;
	width: 95%;
	margin: 0 auto;
}

.brand a{
	color: white;
	font-size: 230%;
	line-height: 35px;
}


/*Intro*/

.intro, .news-intro {
	height: 470px;
	background-image: url(../img/EGC-Intro.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.news-intro {
	height: 200px;
}

.intro-title {
	padding-top: 100px;
	text-align: center;
}

.intro-title h2 {
	font-size: 500%;
	font-weight: lighter;
}


/*Upcoming Events*/

.upcoming-event .news {
	margin-bottom: 60px;
}

.name, 
.details, 
.upcoming-event .section-label {
	text-align: center;
}

.upcoming-event .section-label,
.news .section-label {
	color: rgb(60, 114, 4);
	font-size: 250%;
}

.property,
.value {
	/*font-family : 'Perpetua';*/
	margin-bottom: 0px;
	margin-top: 5px;
}

.property {
	text-align: right;
}

.value {
	text-align: left;
}

/*.upcoming-event h3,
.upcoming-event h4, {
	padding: 0px;
}*/

.upcoming-event a {
	color: rgb(60, 114, 4);
}

.upcoming-event .title {
	font-size: 250%;
	font-weight: 600;
	color: rgb(29, 64, 3);
	padding-bottom: 0px;
}

.upcoming-event .subtitle {
	font-size: 230%;
	font-style: italic;
	font-weight: lighter;
}

.details h5 {
	font-size: 140%;
}



/* Entries */

.entries {
	padding-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.entry {

}

.entry .entry-header h4 {
	color: rgb(60, 114, 4);
	font-weight: 600;
}

.entry .content p {
	color: rgb(29, 64, 3);
	font-size: 75%;
}

.news-entry, 
.song-entry {
	border: 2px solid green;
	border-radius: 8px;
	margin: 25px;
	padding: 15px;
}

.news-entry {
	padding-top: 5px;
}

.news-template {
	display: none;
}

/*Footer*/

footer {
	background-color: rgba(82, 70, 81, 1);
	padding-top: 10px;
	margin-top: 10px;
}

.footer-wrapper {
	margin-left: 15px;
	margin-right: 15px;
}

footer .entry .entry-header h4 {
	color: rgb(223, 232, 215);
	font-weight: 600;
}

footer .entry .content p {
	color: rgb(223, 232, 215);
}

.bottom-bar {
	background-color: rgba(51, 44, 51, 1);
	color: rgb(223, 232, 215);
	text-align: center;
}

.bottom-bar p {
	font-family : 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', "Helvetica Neue", 'Helvetica', 'Arial',
	 sans-serif;
	margin-top: 10px;
}

/*Media Queries*/


@media (max-width: 1200px) {

}

@media (max-width: 992px) {


}

@media (max-width: 767px) {
    .intro-title h2 {
    	font-size: 300%;
    }

	.upcoming-event .title {
		font-size: 230%;
	}

	.upcoming-event .subtitle {
		font-size: 180%;
	}

	.details h5 {
		font-size: 110%;
	}
}


/*Utility*/

.newsletter {

}

.green-seperator {
	border-top: 1px solid #8EC260;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 30px;
}


.column-container {
}

.contact-container {
	margin-left: 30px;
}



/* Gallery page */

.gallery-title {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	text-align: center;
}

.gallery-title h4 {
	font-size: 140%;
}

div.img {
	padding: 6px; 
}

.left-column div.img {
	float: right;
	padding-right: 0px;
}

.col-md-6 {
	padding-right:6px;
	padding-left:6px;
}

.right-column div.img {
	float: left;
	padding-left: 0px;
}

div.img:hover {
	color: #FFF;
	opacity: .6; 
}

.clear {
	clear: both;
}

.pagination-centered {
	text-align: center;
}

.current {
	color: #8EC260;
}


/* Contact Us */

.contact-us {
	color: #A1A1A1;
	padding-bottom: 20px; 
}

.address {
	padding-bottom: 20px;
}

.mail {
	padding-top:10px;
}




/*Repertoire*/

.listen a, .watch a {
	float: right;
}
