			

<section class="about-intro thin-intro">
	<div class="title-intro">
		<h3 class="light-title">About</h3>
		<!-- <h2>Contemporary.</h2> -->
		<h3 class="light-title" lang="ja">私達について</h3>
	</div>
</section>

<div class="green-seperator"></div>

<div class="container">
	<div class="about-entries entry">
		<section class="row">
			<div class="col-md-5 entries">
				<h3 class="section-label about-header">Who We Are</h3>
				<p>EGC is a Japanese men's choral group which got its start in January 2006. The first EGC concert 
					was held on January 23rd at the official residence of the Consulate General of Japan in Seattle. 
					Since then, EGC has performed in numerous venues around the Puget Sound area. Principally, musical selections are either noslagic and traditional Japanese songs but more recently have incorporated contemporary songs into its performance repertoire. 
					Members practice weekly, ususlly on Sundays for two hours.
					We are constantly recruiting and welcoming new members </p>
			</div>

			<div class="col-md-5 col-md-offset-1 entries" lang="ja">
				<h3 class="section-label about-border about-header">私たちについて</h3>
				<p>2006年1月に結成された男声合唱団。初公演を同月23日に日本総領事公邸で行い、以降様々な
				イベントで日本の歌を披露しています。
				メンバー募集！毎週日曜日の夕方に2時間程度の練習を行っています</p>
			</div>

		</section>

		<section class="row">
			<div class="col-md-5 entries">
				<h3 class="section-label about-border about-header">What We Do</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-md-5 col-md-offset-1 entries" lang="ja">
					<h3 class="section-label about-border about-header">いろは</h3>
					<p>2006年1月に結成された男声合唱団。初公演を同月23日に日本総領事公邸で行い、以降様々な
						イベントで日本の歌を披露しています。
						メンバー募集！毎週日曜日の夕方に2時間程度の練習を行っています</p>
				</div>

		</section>
	</div>
</div>




<div class="green-seperator"></div>