		<section class="general-intro thin-intro">
			<div class="title-intro">
				<h3 class="dark-title">Contact Us</h3>
				<h3 class="dark-title" lang="ja">お問い合わせ</h3>
			</div>
		</section>
		
		<div class="contact-container">
			<!-- <h2 class="contact-us">Contact Us</h2> -->
			<h4>Phone: (123) 456-7890</h4>
			<h4>e-mail: toiawase@evergreengleeclub.com</h4>
			<!-- <address class="address"> -->
			<address>
				<h4>Address: 160 Broadway, Seattle, WA 98122</h4>
				
			</address>
			<p>We meet at Japanese Baptist Church of Seattle</p>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. <p>

			<p>Please direct all questions and comments concerning this website to our webmaster, Ang Anson Li, at liang3404814@gmail.com<p>
		</div>


		<div class="green-seperator"></div>

		<!-- <section class="entries row">
			<div class="entry col-md-4">
				<div class="entry-header row">
					<h4 class="col-md-12">
						Join Our Mailing List
					</h4>
				</div>
				<div class="content row">
					<p class="col-md-12">
						Coming events, special news and updates are delivered weekly through our newsletters.
					</p>
				</div>
				<div class="newsletter row">
					<div class="col-md-8">
						<input type="text" class="form-control" placeholder="Type your Email address here">
					</div>
					<div class="col-md-4">
						<button type="" class="btn btn-default btn-primary">Subscribe</button>
					</div>
					
				</div>
				
			</div>
		</section> -->
		
	</div>
</html>