

		<section class="news-intro"></section>

		<div class="contact-container">
			<h2 class="contact-us">Contact Us</h2>
			<h4>Phone: (123) 456-7890</h4>
			<h4>Fax: (123) 123-1234</h4>
			<section class="address">
				<h4 class="mail">Postal Mail:</h4>
				<h5>Evergreen Glee Club</h5>
				<h5>*Insert Address Here*</h5>
				<h5>Seattle, WA</h5>
			</section>

			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. <p>

			<p>Please direct all questions and comments concerning this website to our webmaster, Ang Anson Li, at liang3404814@gmail.com<p>
		</div>


		<div class="green-seperator"></div>

		<section class="entries row">
			<div class="entry col-md-4">
				<div class="entry-header row">
					<h4 class="col-md-12">
						Join Our Mailing List
					</h4>
				</div>
				<div class="content row">
					<p class="col-md-12">
						Coming events, special news and updates are delivered weekly through our newsletters.
					</p>
				</div>
				<div class="newsletter row">
					<div class="col-md-8">
						<input type="text" class="form-control" placeholder="Type your Email address here">
					</div>
					<div class="col-md-4">
						<button type="" class="btn btn-default btn-primary">Subscribe</button>
					</div>
					
				</div>
				
			</div>
		</section>
		
	</div>
</html>