
		<section class="general-intro thin-intro">
			<div class="title-intro">
				<h3 class="dark-title">Events</h3>
				<!-- <h2>Contemporary.</h2> -->
				<h3 class="dark-title" lang="ja">イベント</h3>
			</div>
		</section>
		
		<section class="event-back row event-template">
			
				<div class="col-md-2 entries">
					<h3 class="event-year">2014</h3>
					<h1 class="event-date">Jan.9</h1>
				</div>
				<div class="col-md-5 entries">
					<h3 class="event-name-jp">故岩村浩男氏の記念コンサートを</h3>
					<h3 class="event-name-en">Concert one</h3>
					<p class="event-description-en">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					<p class="event-description-jp" lang="ja">
						あのイーハトーヴォの
						すきとおった風、
						夏でも底に冷たさをもつ青いそら、
						うつくしい森で飾られたモリーオ市、
						郊外のぎらぎらひかる草の波。
					</p>
				</div>
			
		</section>

		<section class="event-back row">
			
				<div class="col-md-2 entries">
					<h3>2013</h3>
					<h1>Nov.4</h1>
				</div>
				<div class="col-md-5 entries">
					<h3>サクラコン2011年の開会式でアニメソングを数曲歌いました</h3>
					<h3>Concert two</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					<p class="event-description-jp" lang="ja">
						あのイーハトーヴォの
						すきとおった風、
						夏でも底に冷たさをもつ青いそら、
						うつくしい森で飾られたモリーオ市、
						郊外のぎらぎらひかる草の波。
					</p>
				</div>
			
		</section>

		<section class="event-back row">
			
				<div class="col-md-2 entries">
					<h3>2013</h3>
					<h1>Oct.17</h1>
				</div>
				<div class="col-md-5 entries">
					<h3>セイフコフィールド：マリナーズゲームで米国国歌を歌いました</h3>
					<h3>Concert three</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
					<p class="event-description-jp" lang="ja">
						あのイーハトーヴォの
						すきとおった風、
						夏でも底に冷たさをもつ青いそら、
						うつくしい森で飾られたモリーオ市、
						郊外のぎらぎらひかる草の波。
					</p>
				</div>
			
		</section>

		<div class="green-seperator"></div>
</html>