
<section class="general-intro thin-intro">
	<div class="title-intro">
		<h3 class="light-title" brightness-gradient b-change-ratio="2" from="dark">Events</h3>
		<!-- <h2>Contemporary.</h2> -->
		<h3 class="light-title" lang="ja" brightness-gradient b-change-ratio="2" from="dark">イベント</h3>
	</div>
</section>

<div class="green-seperator"></div>

<div class="container">
	<div ng-controller="eventsListingControl">
		<section class="event-back row" ng-repeat="entry in events.entries">	

			<div class="col-md-2 entries">
				<h3 class="event-year">{{entry.year}}</h3>
				<h1 class="event-date">{{entry.date}}</h1>
			</div>

			<div class="col-md-4 entries">
				<h3 class="event-name-jp">{{entry['name-jp']}}</h3>


				<p class="event-description-jp" lang="ja">{{entry['description-jp']}}</p>
			</div>	

			<div class="col-md-4 entries">

				<h3 class="event-name-en">{{entry['name-en']}}</h3>
				<p class="event-description-en">{{entry['description-en']}}</p>

			</div>	

		</section>
	</div>
</div>

<div class="green-seperator"></div>
</html>