
		<section class="event-intro">
			<div class="intro-title event-title">
				<h3>Event</h3>
				<!-- <h2>Contemporary.</h2> -->
				<h3 lang="ja">イベント</h3>
			</div>
		</section>
		
		<section class="event-back row">
			
				<div class="col-md-2 entries">
					<h3>2013</h3>
					<h1>Nov.4</h1>
				</div>
				<div class="col-md-5 entries">
					<h3>故岩村浩男氏の記念コンサートを</h3>
					<h3>Concert one</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			
		</section>

		<section class="event-back row">
			
				<div class="col-md-2 entries">
					<h3>2013</h3>
					<h1>Nov.4</h1>
				</div>
				<div class="col-md-5 entries">
					<h3>故岩村浩男氏の記念コンサートを</h3>
					<h3>Concert one</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			
		</section>

		<section class="event-back row">
			
				<div class="col-md-2 entries">
					<h3>2013</h3>
					<h1>Nov.4</h1>
				</div>
				<div class="col-md-5 entries">
					<h3>故岩村浩男氏の記念コンサートを</h3>
					<h3>Concert one</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			
		</section>

		<div class="green-seperator"></div>
</html>