		<section class="general-intro thin-intro">
			<div class="title-intro">
				<h3 class="light-title" brightness-gradient b-change-ratio="2" from="dark">Gallery</h3>
				<h3 class="light-title" lang="ja" brightness-gradient b-change-ratio="2" from="dark">ギャラリー</h3>
			</div>
		</section>

		<div class="green-seperator"></div>

		<div class="container">
			<div class="row">
				<div class="column-container gallery col-md-10 col-md-offset-1" ng-controller="galleryListingControl">
					<div class="col-md-6 img-container" ng-repeat="image in gallery.images">
						<div class="img">
							<a href={{image.src}}><img src={{image.src}} alt={{image.src}} width="440" height="250"></a>
							<div class="mask">
								<p>{{image.info}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="green-seperator"></div>

		

