		<section class="general-intro thick-intro">
			<div class="intro-title">
				<h2>Nostalgic.</h2>
				<h2>Contemporary.</h2>
				<!-- <h2 lang="ja">日本の歌を。</h2> -->
			</div>
		</section>
		<section class="upcoming-event row">
			<div class="event-wrapper col-md-10 col-md-offset-1">
				<h3 class="section-label">Upcoming Event:</h3>
				<div class="event">
					<div class="name">
						<h3 class="title">Sakura-con 2011 Opening Ceremony</h3>
						<h4 class="subtitle">Anime theme music by a live chorus.</h4>
					</div>
					<div class="details">
						<div class="detail row">
							<h5 class="property col-md-2 col-md-offset-3 col-xs-2 col-xs-offset-2">Time:</h5>
							<h5 class="value col-md-6 col-xs-6">Friday, April 22nd, 2011, 10:00 A.M.</h5>
						</div>
						<div class="detail row">
							<h5 class="property col-md-2 col-md-offset-3 col-xs-2 col-xs-offset-2">Location:</h5>
							<h5 class="value col-md-6 col-xs-6"><a href="#">Washington State Convention Center</a></h5>
						</div>
						<div class="detail row">
							<h5 class="property col-md-2 col-md-offset-3 col-xs-2 col-xs-offset-2">Ticketing:</h5>
							<h5 class="value col-md-6 col-xs-6">Event Ticket <a href="#">Required</a>.</h5>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="green-seperator"></div>

		<section class="entries row">
			<div class="entry col-md-6">
				<div class="entry-header row">
					<h4 class="col-md-12">
						Heritage, Tradition and Community
					</h4>
				</div>
				<div class="content row">
					<p class="col-md-12">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
					</p>
				</div>
			</div>
			<div class="entry col-md-6">
				<div class="entry-header row">
					<h4 class="col-md-12">
						About Our Songs
					</h4>
				</div>
				<div class="content row">
					<p class="col-md-12">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
					</p>
				</div>
			</div>
		</section>