		<section class="news-intro">
			<div class="intro-title">
				<!-- <h2>Nostalgic.</h2> -->
				<!-- <h2>Contemporary.</h2> -->
				<!-- <h2 lang="ja">日本の歌を。</h2> -->
			</div>
		</section>
		<section class="news row">
			<div class="news-wrapper col-md-10 col-md-offset-1">
				<h3 class="section-label">News</h3>
				<div class="news-entries">
					<div class='news-entry'>
						<p>
							<span class="title">Willie's 21st birthday!</span></br>
							<span class="date">April 4, 2014</span>
						</p>
						<p class="content">Today is Willie's 21st birthday! Make sure to say happy birthday to him! Captain AMERICA!</p>
					</div>
					<div class='news-entry'>
						<p>
							<span class="title">Happy New Years!</span></br>
							<span class="date">January 1, 2013</span>
						</p>
						<p class="content">Happy New Years everybody! Please enjoy! But be safe! Don\'t drink and drive!</p>
					</div>
					<div class='news-entry'>
						<p>
							<span class="title">Launch of new website!</span></br>
							<span class="date">December 4, 2013</span>
						</p>
						<p class="content">Today is the launch of our new website! Please take a look around!</p>
					</div>
				</div>
			</div>
		</section>

		<div class="green-seperator"></div>