		<!-- <section class="news-intro"></section> -->
		<section class="general-intro thin-intro">
			<div class="title-intro">
				<h3 class="light-title" brightness-gradient b-change-ratio="2" from="dark">News</h3>
				<h3 class="light-title" lang="ja" brightness-gradient b-change-ratio="2" from="dark">ニュース</h3>
			</div>
		</section>	

		<div class="green-seperator"></div>
		
		<section class="news row">
			<div class="news-wrapper col-md-10 col-md-offset-1" ng-controller="newsListingControl">
				<!-- <h3 class="section-label">News</h3> -->
				<div class="list-entries">
					<div class='list-entry' ng-repeat="entry in news.entries">
						<div class="entry-header">
							<h3 class="title entry-title">{{entry.title}}</h3>
							<h4 class="date">{{entry.date}}</h4>
						</div>
						<p class="content">{{entry.content}}</p>
					</div>
				</div>
			</div>
		</section>

		<div class="green-seperator"></div>
