			<section class="general-intro thin-intro">
				<div class="title-intro">
					<h3 class="dark-title">Repertoire</h3>
					<!-- <h2>Contemporary.</h2> -->
					<h3 class="dark-title" lang="ja">レパートリー</h3>
				</div>
			</section>		

			<div class="green-seperator"></div>	


			<section class="repertoire">

				<div class="tool audio-player">

					<div class="row">

						<div class="player-wrapper col-md-offset-3 col-md-6 col-xs-8 col-xs-offset-2" ui-jq="waypoint" ui-options="sticky" >


							<h3 class="section-label">Music Player</h3>

							<p class="prompt" ng-show="playlist.length == 0">No track in the playlist. Add some tracks to start playing.</p>

							<div class="audio-control row" ng-hide="playlist.length == 0">

								<div class="buttons">
									<div class="play-button col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-1">
										<button ng-click="audioPlayer.playPause()" type="button" class="btn btn-default btn-block">
											<span ng-class="{'glyphicon glyphicon-play': !audioPlayer.playing, 'glyphicon glyphicon-stop': audioPlayer.playing}"></span>
										</button>
									</div>
									<div class="prev-button col-md-3 col-xs-3">
										<button ng-click="audioPlayer.prev()" type="button" class="btn btn-default btn-block">
											<span class="glyphicon glyphicon-fast-backward"></span> Prev
										</button>
									</div>

									<div class="next-button col-md-3 col-xs-3">
										<button ng-click="audioPlayer.next()" type="button" class="btn btn-default btn-block">
											<span class="glyphicon glyphicon-fast-forward"></span> Next
										</button>
									</div>
								</div>
							</div>

							<div class="play-state" ng-hide="playlist.length == 0">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: audioPlayer.currentTime/audioPlayer.duration * 100 + '%' }">
										<span class="sr-only">{{ audioPlayer.currentTime*100/audioPlayer.duration + '%' + ' ' + 'Played' }}</span>
									</div>
									<div class="time" ng-show="audioPlayer.formatTime">
										<span>00:24</span>
										<b>/</b>
										<span>00:30</span>
									</div>
								</div>
							</div>

							<div class="audio-list"  ng-hide="playlist.length == 0">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Song</th>
											<th>Description</th>
											<th>   </th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="song in playlist" ng-class="{active: audioPlayer.playing && audioPlayer.currentTrack-1 === $index}">
											<td>{{$index + 1}}</td>
											<td>{{song.title}}</td>
											<td>{{song.description}}</td>
											<td>
												<button ng-click="removeSongFromListByIndex($index)" type="button" class="btn btn-default btn-xs">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<audio player-control="audioPlayer" data-playlist="playlist" audio-player>
							</audio>
						</div>

					</div>

				</div>

				<div class="tool search-tools row">
					<div class="search-box col-md-offset-3 col-md-6 col-xs-8 col-xs-offset-2">
						<div class="form-group">
							<input type="text" ng-model="search" class="form-control" placeholder="Type to start searching">
						</div>
					</div>
					<div class="search-switches">

					</div>
				</div>

				<div class="row listing">
					<div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2" >
						<div class='list-entry col-md-6 ' ng-repeat="song in repertoire.entries | filter: search">
							<div class="song entry-info">
								<div class=" title entry-title row">
									<h3 class="col-md-8 col-sm-8 col-xs-8">{{song.title}}</h3>
									<div class="song-audio col-md-4 col-sm-4 col-xs-4" ng-if="song.audioURL">
										<button ng-click="addSong(song)" class="btn btn-default btn-primary btn-sm" ng-click="">Add to Playlist</button>
									</div>
								</div>
								<div class="song-description row">
									<p class="col-md-12">{{song.description}}</p>
								</div>

							</div>
						</div>

					</div>
				</div>



			</section>



			<div class="green-seperator"></div>