		<section class="news-intro">
		</section>
		
		<section class="news row">
			<div class="news-wrapper col-md-10 col-md-offset-1" ng-controller="repertoireListingControl">
				<h3 class="section-label">Repertoire</h3>
				<div class='list-entry row' ng-repeat="song in repertoire.entries">
					<div class="entry-info col-md-6">
						<div class=" title entry-title">
							<h3>{{song.title}}</h3>
						</div>
						<div class=" song-description">
							<p>{{song.description}}</p>
						</div>
						
					</div>
					<div class="song-media col-md-6">
						<div class=" song-audio" ng-if="song.audioURL">
							<audio id="player2" src="{{song.audioURL}}" type="audio/mpeg" controls="controls" mediaelement></audio>
						</div>
						<div class=" song-video" ng-if="song.videoURL">
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
		


		<div class="green-seperator"></div>