		<section class="news-intro">
		</section>
		
		<section class="news row">
			<div class="news-wrapper col-md-10 col-md-offset-1" ng-controller="repertoireListingControl">
				<h3 class="section-label">Repertoire</h3>
				<div class='song-entry' ng-repeat="song in repertoire.entries">
					<span class="song-title">{{song.title}}</span>
					<span class="listen"><a href="#">Listen</a></span></br>
					
					<span class="song-description">{{song.description}}</span>
					<span class="watch"><a href="#">Watch</a></span>
				</div>
			</div>
		</section>

		<div class="green-seperator"></div>